<h2>サインアップ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
     <%= f.label :ユーザ名 %><br>
     <%= f.text_field :name, autocomplete: "name" %>
   </div>

  <div class="field">
    <%= f.label :メールアドレス %><br>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
    <p><%= f.password_field :password, autocomplete: "new-password" %></p>
  </div>

  <div class="field">
   <%= f.label :パスワードの確認 %><br>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>

     <div class="field">
     <%= f.label :管理者フラグ %><br>
     <%= f.check_box :admin_flg %>
   </div>

  <div class="actions">
   <%= f.submit "サインアップ" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
