<h1>商品一覧</h1>

<% if current_user.admin_flg == true %>
  <%= link_to "新規登録", new_product_path %>
<% end %>

<h2>検索欄</h2>
<%= search_form_for @q do |f| %>
  <p>商品名 : <%= f.text_field :name_cont %></p>
  <p>価格 : <%= f.number_field :price_gt %></p>
  <%= f.submit %>
<% end %>

<hr>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, '商品名') %></th>
      <th><%= sort_link(@q, :price, '価格') %></th>
      <th colspan="5">説明</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.name %>
        </td>
        <td>
          <%= product.price %> 円
        </td>
        <td>
          <%= product.description %>
        </td>
        <td>
          <%= link_to '詳細', product_path(product) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

